<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        Login_page
    </title>
</head>
<body leftmargin="100" rightmargin="100">
  <h1 align="center">Login_page</h1>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
  <form action ="/login_post" method = "post">
    <p align="center">
    ID：<input type="text" name="id" size="40"　>
  </p>
  <p align="center">
    Password:<input type ="password" name ="password" size="40">
  </p>
  <p align="center">
    <input type="submit" value="送信">{{.miss}}
  </p>
  </from>
</dev>
</body>
</html>
