<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="public/css/write.css">
    <title>KG-Networkブログ</title>
    <script type="text/javascript">
    function goServletP(){
        document.getElementById('form').action="/preview_post";
    }
    function goServletS(){
        document.getElementById('form').action="/send";
    }
</script>
  </head>
  <body>
    <header>
      KG-Networkブログ
    </header>
    <ul class="float">
  <li class="write">
    <form  id="form" name="form" action="/send" method="post">
    タイトル:<input size="36" type="text" name="side">
    <br>
    内容<br>
<textarea name="main" cols="54" rows="50">
</textarea>
<input type="submit"  value="送信する" onclick="goServletS();">
<input type="submit"  value="preview" onclick="goServletP();">
</form>
    </li>
  <li class="preview">
    今後実装
  </li>
</ul>
  </body>
</html>
