<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="public/css/write.css">
    <title>KG-Networkブログ</title>
    </style>
  </head>
  <body>
    <header>
      KG-Networkブログ
    </header>
    <ul class="float">
  <li class="write">
    <form name="preview" action ="/preview_post" method = "post">
    タイトル:<input size="36" type="text" name="side">
    <br>
    内容<br>
<textarea name="main" cols="54" rows="50">
</textarea>
<input type="submit" name="send"value="送信する">
<input type="submit" name="preview" value="preview">
</form>
    </li>
  <li class="preview">
    今後実装
  </li>
</ul>
  </body>
</html>
